.config {
    background: #01427a;
    height: 100vh;
    width: 100%;
}

.appBar {
    background: linear-gradient( to right, #01427a 0%, #01427a 50%, #01b3ef 50%, #01b3ef 100% );
    padding: 16px;
    margin-bottom: 2%
}

.button {
    width: 100%;
    height: 60px;
}

.containerConfig {
    display: flex;
    align-items: center;
    width: 75%;
    background: #01b3ef;
    height: 80%;
    border-radius: 10px;
    margin: 0 auto;
}

.Config {
    padding: 16px;
    max-width: 40%;
    margin-left: 10%;
}

.Text {
    color: white;
    margin-left: 2%;
    width:45%;

}

.bottomBar {
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 32px;
    text-align: center;
}
