.configDiv {
    background: #6d6a75;
    height: 100vh;
    width: 100%;
}

.containerConfig {
    width: 75%;
    background: #bfbdc1;
    height: 80%;
    border-radius: 40px;
    margin: 0 auto;
    border-style: solid;
    border-width: 2px;
    border-color: #37323e;
}
